<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        Update Email
      </h4>
    </div>
    <%=simple_form_for @student, url: student_email_path(@student), remote: true do |f| %>
    <%= f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <%= f.input :email %>
	      <div class="modal-footer">
	        <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
	        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
	        <%=f.submit "Save", class: "btn btn-primary" %>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
