<%=simple_form_for @student do |f| %>
  <%=f.error_notification %>
  <%= f.input :role, input_html: { value: User.roles.keys.to_a.first }, as: :hidden %>
  <%= f.input :status, input_html: { value: User.statuses.keys.to_a.first }, as: :hidden %>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <%= f.input :id_number, label: "ID Number", as: :numeric %>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <%= f.input :course_id, collection: Course.all.map {|c| [c.abbreviation, c.id]}, prompt: '-- Choose Course --' %>
            </div>
            <div class="col-md-6 col-xs-6">
              <%= f.input :year_level_id, collection: YearLevel.all.map {|c| [c.name, c.id]}, prompt: '-- Choose Year Level --' %>
            </div>
          </div>
          <br>
        </div>
      </div>
      <h4 class="no-bottom-margin">Personal Details</h4>
      <hr class="no-top-margin">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <%= f.input :first_name %>
          <%= f.input :middle_name %>
          <%= f.input :last_name %>
          <%= f.input :birthdate, as: :string, input_html: {class: 'datepicker'} %>
          <%= f.input :gender, collection: User.genders.keys.to_a.map{ |g| [g.titleize, g]}, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false %>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="no-bottom-margin">Contact Details </h4>
          <hr class="no-top-margin">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <%= f.input :mobile, label: 'Mobile Number', placeholder: 'Enter 11-digit mobile number', as: :numeric %>
          <%= f.input :email, as: :email %>
          <br>
        </div>
      </div>
      <% if @student.new_record? %>
        <div class="row">
          <div class="col-md-12">
            <h4 class="no-bottom-margin">Address Details </h4>
            <hr class="no-top-margin">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-10">
            <%=f.simple_fields_for :address do |a| %>
              <%=a.input :sitio %>
              <%=a.input :barangay %>
              <%=a.input :municipality, input_html: { value: "Lagawe" } %>
              <%=a.input :province, input_html: { value: "Ifugao" } %>
            <% end %>
            <br>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <h4 class="no-bottom-margin">Card ID</h4>
          <hr class="no-top-margin">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
        <%= f.input :tag_uid, hint: 'Please tap student ID on the RFID scanner', label: false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <%= link_to "Cancel", @student.new_record? ? students_path : info_student_path(@student), class: 'btn btn-default' %>
          <%=f.submit 'Save', class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
<% end %>