
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="profile-wrapper">
              <% if !@student.record_status.nil? %>
                <div class="overlay status-overlay">
                  <h4 class="text-center text-red">
                    <%= @student.record_status %>
                  </h4>
                </div>
              <% end %>
              <% if @student.profile_photo.blank? %>
                  <%=image_tag("default.png", height: 160, width: 160, :class=>"img-square -img-rounded center-block image") %>
              <% else %>
                  <%= image_tag @student.profile_photo.avatar.url, height: 160, width: 160, class: 'img-square img-rounded center-block image'%>
              <% end %>
              <%= simple_form_for ProfilePhoto.new, url: student_profile_photos_path(@student) do |f| %>
                <%= f.input :user_id, input_html: {value: @student.id}, as: :hidden %>
                <%= f.input :avatar, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
                <div class="overlay option-overlay">
                  <div class="col-xs-6 text-center">
                    <a href="" title="Update Photo"><span id="browse" class="text-white fa fa-photo fa-lg"></span></a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <%= link_to edit_student_status_path(@student), title: 'Update Status', remote: :true do %>
                      <span class="text-white fa fa-pencil-square-o fa-lg"></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="name-wrapper">
              <h4><%=@student.fullname.try(:upcase) %>
                <span>
                  
                </span>
              </h4>
              <h5 class="course-details">
                Course: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @student.course_and_year %>
                <%= link_to edit_student_course_path(@student), title: 'Update Course/Year level', remote: true do %>
                  <span class="course-link">&nbsp&nbsp&nbsp&nbsp<i class="fa fa-pencil-square-o"></i></span>
                <% end %>
              </h5>
              <h5 class="id-number-details">
                ID Number: &nbsp&nbsp<%= @student.id_number %>
                <%= link_to edit_student_id_number_path(@student), title: 'Update ID Number', remote: true do %>
                  <span class="id-number-link">&nbsp&nbsp&nbsp&nbsp <i class="fa fa-pencil-square-o"></i></span>
                <% end %>
              </h5>
              <h5 class="id-card-details">
                Card UID: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @student.tag_uid %>
                <%= link_to edit_student_id_card_path(@student), title: 'Update Card Unique-ID', remote: true do %>
                  <span class="id-card-link">&nbsp&nbsp&nbsp&nbsp <i class="fa fa-pencil-square-o"></i></span>
                <% end %>
              </h5>
            </div>
          </div>
          <div class="col-md-5">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="<%='active' if current_page? info_student_path %>">
              <%= link_to 'Info', info_student_path %>
            </li>
            <li class="pull-right <%#='active' if current_page? options_student_path %>">
              <%#= link_to 'Options', options_student_path %>
            </li>
          </ul>
        </div>
        
        <div class="tab-content">
          <div id="my-tab-content" class="tab-content">
            <%= render '/students/partials/info' if current_page? info_student_path %>
            <%#= render '/students/partials/options' if current_page? options_student_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $('#browse').click(function(e) {
    $('#profile_photo_avatar').click();
    e.preventDefault();
    e.stopPropagation();
    $('#profile_photo_avatar').change(function() {
      var val = $('#profile_photo_avatar').val();
      if (val != ''){
        $('#new_profile_photo').submit();
      }
    });
  });
</script>