<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Student Information - Update Form</h4>
      </div>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
