
<div class="card">
  <div class="card-header">
    <div class="card-title">
    	<div class="row">
        <div class="col-md-3">
          <h4 class="title"> Students </h4>
        </div>
        <div class="col-md-5">
          <%=form_tag students_path, method: :get do %>
            <div class="input-group stylish-input-group" id="product-prefetch">
              <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_user_full_name_users_path, class: 'form-control', placeholder: 'Search Student' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      	<div class="col-md-4">
          <%= form_tag import_students_path, id: 'import-form', multipart: true do %>
            <%= file_field_tag :file, class: 'choose-btn' %>
          <% end %>
          <span class="pull-right">
            <!-- <div class="btn-group">
              <a role="button" class="btn btn-info" id="browse-file">Import(Excel)</a>
              <a tabindex="0" id="details" class="btn btn-warning btn-tips" role="button" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" title="" data-content='<%#= render "/students/dropdowns/student_templates" %>'>
                <span class="fa fa-info"></span>
              </a>
            </div> -->
            <a role="button" class="btn btn-info" id="browse-file">Import(Excel)</a>
            <%= link_to "New Student", new_student_path, class: "btn btn-primary" %>
          </span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Filter Options:</h4>
          <%= form_tag students_path, id: 'student-filter-form', method: :get do%>
            <div class="row">
              <div class="col-md-4">
                <%= select_tag :course_id, options_from_collection_for_select(@courses, "id", "name", params[:course_id]), class: 'bottom-margin-10 form-control border-input', id: "course-filter", prompt: "-- Select Course --" %>
              </div>
              <div class="col-md-4">
                <%= select_tag :year_level_id, options_from_collection_for_select(@year_levels, "id", "name", params[:year_level_id]), class: 'bottom-margin-10 form-control border-input', id: "year-level-filter", prompt: "-- Select Year Level --" %>
              </div>
              <div class="col-md-4">
                <%= select_tag :status, options_for_select(whitelisted_statuses, params[:status]), class: ' form-control border-input', id: "status-filter", prompt: "-- Select Status --" %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <%=link_to "Print (PDF)", report_students_path(format: 'pdf', course_id: @course, year_level_id: @year_level, status: @status), class: "btn btn-info active" if @students.present? %>
                <%=link_to "Export (Excel)", export_students_path(format: :xlsx, course_id: @course, year_level_id: @year_level, status: @status), class: "btn btn-info active" if @students.present? %>
                <%= link_to "Reset Filters", students_path, class: 'btn btn-warning pull-right' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <p><%= "#{@filtered.count} result/s found." %></p>
    </div>
  </div>
  <div class="card-body">
  	<table class="table table-hover">
  		<tr>
        <th>ID Number</th>
  			<th>Name</th>
  			<th>Course</th>
        <th>Mobile</th>
  			<th></th>
  		</tr>
  		<% @students.each do |student| %>
  			<tr>
          <td><%= student.id_number %></td>
  				<td>
            <%= student.reversed_name.upcase %>
            <small class="label label-<%= "warning" if student.status == "suspended" %><%= "danger" if student.status == "dropped" %>">
              <%= student.record_status %>
            </small>
          </td>
  				<td><%= student.try(:course).try(:abbreviation) %></td>
          <td><%= student.try(:mobile) || "N/A" %></td>
  				<td>
            <%=link_to "Details", info_student_path(student), class: "btn btn-xs btn-info" %>
            <%#= render '/students/dropdowns/student_options', student: student %>    
          </td>
  			</tr>
  		<% end %>
  	</table>
  	<div class="modal-footer">
      <center><%= paginate @students, :window => 1 %></center>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#browse-file').click(function(e) {
    $('#file').click();
    e.preventDefault();
    e.stopPropagation();
    $('#file').change(function() {
      var val = $('#file').val();
      if (val != ''){
        $('#import-form').submit();
      }
    });
  });
</script>

<script type="text/javascript">
  $('#course-filter').change(function(e) {
    $('#student-filter-form').submit();
  });
  $('#year-level-filter').change(function(e) {
    $('#student-filter-form').submit();
  });
  $('#status-filter').change(function(e) {
    $('#student-filter-form').submit();
  });
</script>