<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h4>Courses</h4>
						</div>
						<div class="col-md-6 col-sm-6">
							<%=link_to "Add Course", new_course_path, class: 'btn btn-primary pull-right', title: 'New Course', remote: true %>
						</div>
					</div>
	      </div>
			</div>
			<div class="card-body">
				<table class="table">
					<% @courses.each do |course| %>
						<tr>
							<td><%= course.abbreviation %> - <%= course.name %></td>
							<td>
								<%= link_to edit_course_path(course), remote: true do %>
									<span class="fa fa-pencil-square-o"></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
		
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Import Profile Photos</h4>
			</div>
			<div class="card-body">
				<%= form_for ProfilePhoto.new, url: :profile_photos, html: { multipart: true } do |f| %>
          <div class="input-group stylish-input-group">
            <%= f.file_field :photo_arrays, multiple: true, id: "photo-arrays", class: 'form-control' %>
            <span class="input-group-btn">
              <%= f.submit 'Import', id: 'submit-button', class: 'form-control btn btn-primary' %>
            </span>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>	
<script type="text/javascript">
	$(document).ready(function(){
    $('#submit-button').prop('disabled',true);
    $('#photo-arrays').change(function(){
      $('#submit-button').prop('disabled', this.value == "" ? true : false);     
    })
	});
</script>	 