<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" data-offset-top="60">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to monitoring_index_path, class: 'navbar-brand' do %>
        <div class="icon"><span class="fa fa-desktop"></span></div>
        <div class="title">GatePass Monitoring
          <span class="text-muted"><%= " | Students" if current_page? students_path %></span>
          <span class="text-muted"><%= " | Students" if current_page? authenticated_root_path %></span>
          <span class="text-muted"><%= " | Employees" if current_page? employees_path %></span>
          <span class="text-muted"><%= " | Settings" if current_page? settings_path %></span>
          <span class="text-muted"><%= " | Reports" if current_page? reports_path %></span>
        </div>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to students_path, title: 'Students' do %>
            <span class="fa fa-users fa-lg"></span>
          <% end %>
        </li>
        <li>
          <%= link_to settings_path, title: 'Settings' do %>
            <span class="fa fa-gears fa-lg"></span>
          <% end %>
        </li>
        <!-- <li>
          <%#= link_to new_profile_photo_path, title: 'Upload Photos' do %>
            <span class="fa fa-picture-o fa-lg"></span>
          <%# end %>
        </li> -->
        <!-- <li>
          <a href="" id="fullscreen-mode">
            <span class="fa fa-tablet fa-lg"></span>
          </a>
        </li> -->
        <li>
          <% if @student_id.present? %>
            <% if current_page? info_student_path(@student_id) %>
              <a tabindex="0" id="details" class="pull-right" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" title="Student Information Update Tips" data-content='<%= render "/students/dropdowns/student_update_tips" %>'>
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-info fa-stack-1x"></i>
                </span>
              </a>
            <% end %>
          <% end %>
          <% if current_page? students_path %>
            <a tabindex="0" id="details" class="pull-right" role="button" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" title="Import Tips" data-content='<%= render "/students/dropdowns/student_templates" %>'>
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x"></i>
              </span>
            </a>
          <% end %>
          <% if current_page? settings_path %>
            <a tabindex="0" id="details" class="pull-right" role="button" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" title="Upload Tips" data-content='<%= render "/students/dropdowns/upload_tips" %>'>
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x"></i>
              </span>
            </a>
          <% end %>
        </li>
        <li class="dropdown profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-navicon fa-lg"></span></a>
          <ul class="dropdown-menu animated fadeInDown">
            <li class="profile-img">
              <% if current_user.profile_photo.present? %>
                <%=image_tag(current_user.profile_photo, class: 'profile-img') %>
              <% else %>
                <%=image_tag("default.png", class: 'profile-img') %>
              <% end %>
            </li>
            <li>
              <div class="profile-info">
                <h4 class="username"><%= current_user.name.titleize %></h4>
                <p><%= current_user.email %></p>
                <div class="btn-group margin-bottom-2x" role="group">
                  <%=link_to info_user_path(current_user), html: { role: "button"}, class: 'btn btn-info' do %>
                    <span><i class="fa fa-user"></i> Profile</span>
                  <% end %>
                  <%=link_to destroy_user_session_path, html: { role: "button"}, class: 'btn btn-primary',  method: :delete do %>
                    <span><i class="fa fa-sign-out"></i> Logout</span>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>