<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  </head>
  <body id="application-body" class="flat-blue landing-page">
    <div id="spinner-modal" class="spinner-modal"></div>
    <%= render 'layouts/header' %>
    <div class="margin-top-20 container-fluid app-content-a">
      <div class="container">
        <%=render 'layouts/flash' %>      
        <%= render 'layouts/modal' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>

  <script type="text/javascript">
    $("#fullscreen-mode").on("click", function () {
      $(document).fullScreen(true);
      preventDefault();
    });
  </script>
</html>