<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="flat-blue monitoring-bg" id="monitoring-body">
    <div class="right-side-menu">
      <ul class="nav-link">
        <li>
          <% if user_signed_in? %>
            <%= link_to students_path, title: 'Home' do %>
              <span class="fa fa-home fa-2x"></span>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path,title: 'Sign-in' do %>
              <span class="fa fa-sign-in fa-2x"></span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
  <script type="text/javascript">
    $("#fullscreen-mode").on("click", function (evt) {
      $("#monitoring-body").fullScreen(true);
    });
  </script>
</html>
